<div>
	<div class="modal-header">
		<h3 class="modal-title" id="bet-modal-title">Bet <i class="fa fa-spinner fa-spin" ng-show="$ctrl.spinner > 0"></i></h3>
	</div>
	<div class="modal-body" id="bet-modal-body">
		<div class="alert alert-warning" role="alert" ng-show="$ctrl.warning">
			<button type="button" class="close" ng-click="$ctrl.dismissWarning()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.warning }}
		</div>
		<div class="alert alert-info" role="alert" ng-show="$ctrl.information">
			<button type="button" class="close" ng-click="$ctrl.dismissInformation()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ $ctrl.information }}
		</div>
		<form>
			<div class="form-group">
				<label for="bet-amount">Bet amount (satoshis)</label>
				<input type="number" class="form-control" id="bet-amount" placeholder="bet amount in satoshis" ng-model="$ctrl.values.amount" ng-change="$ctrl.refreshBetInfo()" ng-model-options="{ debounce: 500 }">
			</div>
			<div class="form-group">
				<label for="bet-factor">Win multiplier</label>
				<input type="number" class="form-control" id="bet-factor" placeholder="bet factor" ng-model="$ctrl.values.factor" ng-change="$ctrl.refreshBetInfo()" ng-model-options="{ debounce: 500 }">
			</div>
			<div class="form-group" style="display:none">
				<label for="bet-choice">Choice</label>
				<input type="text" class="form-control" id="bet-choice" placeholder="bet choice" ng-model="$ctrl.values.choice">
			</div>
			<div class="form-group">
				<label for="bet-seed">Client seed</label>
				<div class="input-group">
					<input type="text" class="form-control" id="bet-seed" placeholder="bet seed" ng-model="$ctrl.values.seed">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" aria-label="Refresh seed" ng-click="$ctrl.refreshSeed()"><span class="glyphicon glyphicon-refresh"></span></button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="bet-winpayreq">Your payout LN payment request</label>
				<input type="text" class="form-control" id="bet-winpayreq" placeholder="payout LN payment request" ng-model="$ctrl.values.winpayreq">
			</div>
			<div class="form-group" ng-show="$ctrl.paymentrequest">
				<label for="bet-payreq">Use this payment request to make your bet</label>
				<div class="input-group">
					<input type="text" class="form-control" id="bet-payreq" placeholder="bet payment request" ng-model="$ctrl.paymentrequest">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" title="Copy to clipboard" aria-label="Copy to clipboard" ngclipboard data-clipboard-text="{{ $ctrl.paymentrequest }}" ngclipboard-success="$ctrl.payreqCopied();" uib-tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="'none'" tooltip-is-open="$ctrl.payreqCopiedTip"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
					</div>
				</div>
			</div>
		</form>
		<div ng-show="$ctrl.betInfo">
			<dl class="dl-horizontal" style="overflow-wrap: break-word;">
				<dt>Win amount</dt>
				<dd>{{ $ctrl.betInfo.winamount }}</dd>
				<dt>Target</dt>
				<dd><strong>&lt; {{ $ctrl.betInfo.threshold }}</strong> (999999 max.)</dd>
				<dt>Server seed hash</dt>
				<dd>{{ $ctrl.betInfo.serverseedhash }}</dd>
			</dl>
		</div>
		<div ng-show="$ctrl.betResult">
			<dl class="dl-horizontal" style="overflow-wrap: break-word;">
				<dt>Roll result</dt>
				<dd><betresult-value ng-model="$ctrl.betResult" /></dd>
				<dt>Server seed</dt>
				<dd>{{ $ctrl.betResult.serverseed }}</dd>
				<dt>Client seed</dt>
				<dd>{{ $ctrl.betResult.clientseed }}</dd>
			</dl>
			<!--<pre>{{ $ctrl.betResultJSON }}</pre>-->
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Roll dice</button>
		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
	</div>
<div>
